.monitor_period_main_container {
  width: 90%;
  background-color: var(--app-bg-color);
  /* box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1); */
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-decoration: none;
  color: black;
  background-color: white;
  margin-top: 20px;
  padding: 10px 0px 15px 10px;
}
.monitor_period_container {
  display: flex;
  flex-direction: row;
}

.monitor_durations_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  background-color: var(--app-bg-color);
  /* box-shadow: 0 1px 0px 1px rgba(0,0,0,0.1); */
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-decoration: none;
  color: #3333cc;
  background-color: white;
  margin: 30px;
  padding: 15px;
}

.period_mini_card:active {
  border: 1px solid #3333cc;
}

.period_mini_card:hover {
  border: 1px solid #3333cc;
  cursor: pointer;
}
