.progress-bar {
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: #3333cc;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
